@import 'config';

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Space Mono', sans-serif;
    font-size: 62.5%;
    font-weight: 400;
}

