@import "config";

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  background-color: $siteBg;
}

header {
  padding: 3.3rem 7rem 2.2rem 40vw;
}

main {
  background-color: white;
  border-radius: 2rem 2rem 0 0;
  width: 100%;
  padding-bottom: 2rem;
  font-size: 1rem;
  font-weight: 700;
  color: $labelText;
}

.input-card {
  margin: 2rem 2.1rem;
}

.error {
  float: right;
  color: red;
  visibility: hidden;
}
.show-error {
  visibility: visible;
}

.inp-text {
  width: 100%;
  padding-block: 0.5rem;
  text-align: right;
  padding-right: 1rem;
  background-color: $inpFieldBg;
  @include borderVanish;
  border-radius: 0.5rem;
  color: $outputCardBg;
  font-weight: 700;
  font-size: 1.7rem;
  cursor: pointer;
  box-sizing: border-box;

  &:focus {
    color: $outputCardBg;
    border: 1px solid $outputCardBg;
  }
}

.person-error {
  border: 1px solid red;
}

.icon {
  position: relative;
  left: 7%;
  top: -2.2rem;
}

.bill-container {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.2rem;
}
.tip-container {
  margin-top: 0.55rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.tip-btns {
  display: grid;
  grid-template-columns: 47% 47%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.tip {
  background-color: $outputCardBg;
  padding-block: 0.55rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  border-radius: 0.2rem;
  font-weight: 700;
  @include borderVanish;
  cursor: pointer;

  &:hover {
    background-color: $siteBg;
  }
}

.custom-btn {
  .custom-tip {
    padding-inline: 7vw;
    width: 100%;
    padding-block: 0.55rem;
    color: $personText;
    font-size: 1.5rem;
    border-radius: 0.2rem;
    font-weight: 700;
    @include borderVanish;
    background-color: $inpFieldBg;
    cursor: pointer;
    text-align: right;
    padding-right: 1rem;

    &:focus {
      color: $outputCardBg;
      border: 1px solid $outputCardBg;
    }
  }
}

.selected {
  background-color: $outputText;
  color: $outputCardBg;
}

.people-container {
  margin-top: 2rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.4rem;
  color: $outputCardBg;
}

.label-wrapper {
  color: $labelText;
}

.output-card {
  background-color: $outputCardBg;
  padding: 2.2rem 1.5rem 1.5rem 1.5rem;
  margin-top: -1.6rem;
  margin-inline: 1.6rem;
  border-radius: 1.2rem;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;

  .tip-amount,
  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .result-text {
      font-weight: 700;
      h6 {
        font-size: 0.97rem;
        color: white;
      }
      p {
        font-size: 0.8rem;
      }
    }

    .result-no {
      color: $outputText;
    }
  }
}

.reset-btn {
  width: 100%;
  background-color: $outputText;
  @include borderVanish;
  color: $outputCardBg;
  font-size: 1.15rem;
  font-weight: 700;
  margin-top: 2rem;
  padding-block: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: $siteBg;
  }
}

// media query //

@media (min-width: 1145px) {
  .logo {
    margin: 7rem 6.5rem 3.5rem 6.5rem;
  }

  main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 64%;
    margin-inline: auto;
    border-radius: 2rem;
    padding-inline: 3rem 2rem;
    padding-block: 0.9rem;
    margin-bottom: 7rem;
  }

  .tip-btns {
    grid-template-columns: 31.5% 31.5% 31.5%;
    gap: 0.85rem;
    padding-left: 0.2rem;
  }

  .input-card {
    width: 45%;
    margin-inline: 0;

    .people-container {
      justify-content: baseline;
      gap: 0;
      .label-wrapper {
        margin-top: 0.8rem;
      }
    }
  }

  .inp-text {
    margin-top: 0.5rem;
  }
  .output-card {
    width: 49%;
    margin-inline: 0;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5.5rem;
  }

  .result-no {
    font-size: 3.2rem;
  }

  .tip-amount,
  .total {
    justify-content: space-between;
  }

  .custom-btn {
    .custom-tip {
      padding-inline: 1rem;
      font-size: 1rem;
      padding-block: 0.75rem;
    }
  }
}
